.shell {
    box-sizing: border-box;
    font: 16px/20px monospace;
    position: fixed;
    z-index: 2000;
    top: -100%; left: 0; right: 0;
    height: 100%;
    vertical-align: text-top;
    background-color: #212121;
    background-color: rgba(0,0,0,0.8);
    padding: 40px;
    color: #CCC;
    overflow: hidden;
    -moz-transition:top 1s; -webkit-transition:top 1s; -o-transition:top 1s; transition:top 1s;
}

.shell.show { top: 0; }

.shell p { margin: 0; padding: 0;}
.shell .green, .shell a { color: #0F0; }
.shell .red { color: #F00; }
.shell .blue { color: #00F; }

.shell input {
    height: 20px;
    font: inherit;
    vertical-align: bottom;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    resize: none;
    color: #0F0;
    margin: 0 0 10px 0;
}
.shell input:focus { outline: none; }
